.section-inner {
  padding: 30px 10px;
}

.header {
  border: 1px solid #000;
  text-align: center;
  width: 40%;
  font-size: 36px;
  margin: 0 auto;
}

.section-content{
  display: flex;
  align-items: center;
}

.pokemon-list-wrapper{
  flex-basis: 60%;
  margin-right: 40px;
}

.pokemon-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* з конкретної ширини у вищій строчці  поставити 3 колонки, для маленького екрану завжди ауто-фіт */
  margin: 30px auto;
  grid-gap: 10px;
}

.btn-load{
  color: #fff;
  background-color: #008CFF;
  border: 0;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: .3s;
}

.btn-load:hover{
  background-color: #087cdb;
}

.pokemon-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #000;
  cursor: pointer;
  transition: .3s;
}

.pokemon-card:hover{
  background-color: #f8edeb;
}

.pokemon-img{
  height: 150px;
  width: 150px;
}

.pokemon-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #000;
  min-width: 250px;
  padding: 10px;
}

.pokemonInfo-img{
  height: 200px;
  width: 200px;
}

td {
  border: 1px solid black;
  padding: 7px 15px;
}

table{
  text-align: center;
  border-spacing: 0;
}