.section-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  border: 1px solid #000;
  text-align: center;
  width: 40%;
  font-size: 36px;
}
