.section-inner {
  padding: 30px 10px;
}

.header {
  border: 1px solid #000;
  text-align: center;
  width: 40%;
  font-size: 36px;
  margin: 0 auto;
}

.section-content{
  display: flex;
  align-items: center;
}

/* .pokemon-list-wrapper{
  flex-basis: 60%;
  margin-right: 40px;
} */

.pokemon-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  
  margin: 30px auto;
  grid-gap: 10px;
}

.btn{
  color: #fff;
  background-color: #008CFF;
  border: 0;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: .3s;
}

.btn:hover{
  background-color: #087cdb;
}

.pokemon-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #000;
  padding: 10px;
  cursor: pointer;
  transition: .3s;
}

.pokemon-card:hover{
  background-color: #f8edeb;
}

.pokemon-img{
  height: 150px;
  width: 150px;
}

.pokemon-type{
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
}

.pokemon-type + .pokemon-type{
  margin-left: 5px;
}

.pokemon-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #000;
  padding: 10px;
}

.pokemonInfo-img{
  height: 200px;
  width: 200px;
}

td {
  border: 1px solid black;
  padding: 7px 15px;
}

table{
  text-align: center;
  border-spacing: 0;
}

@media (min-width: 1200px) {
  .pokemon-list{
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media (max-width: 576px) {
  .pokemon-info{
    width: 100%;
    max-width: 200px;
  }

  .pokemon-list{
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

}

@media (min-width: 577px) {
  .pokemon-info{
    min-width: 250px;
  }
}

@media (min-width: 768px) {
  .btn-group{
    display: flex;
  }

  .btn + .btn{
    margin-left: 10px;
  }
}

@media (max-width: 767px) {

  .pokemon-list-wrapper{
    max-width: 50%;
  }

  td {
    padding: 3px 8px;
  }

  .btn + .btn{
    margin-top: 10px;
  }
}

@media (max-width: 469px) {
  .section-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header{
    margin-bottom: 20px;
    width: 80%;
    font-size: 30px;
  }

  .pokemon-list-wrapper{
    max-width: 100%;
    margin: 0 auto;
  }

  .pokemon-list{
    grid-template-columns: repeat(1, minmax(200px, 300px));
  }

  .pokemon-info{
    order: -1;
  }
}

@media (min-width: 470px){
  .pokemon-list-wrapper{
    flex-basis: 60%;
    margin-right: 40px;
  }
}